@import '../utils';
@import '../globals';

.footer{
    height: ToRem(358);
    width: 100%;
    padding-left: toRem(160);
    padding-top: toRem(80);
    padding-bottom: toRem(80);
    background-color: $very-dark-black-blue;
    border-top-right-radius: toRem(100);

    &__logo{
        margin-right: toRem(100);
        margin-top: toRem(20);
    }

    &__links{

        margin-right: toRem(130);
        

        
        h5{
            margin: 0;
            margin-bottom: torem(24);
            font-size: toRem(15);
            font-family: $ubuntu;
            font-weight: 500;
            color: white;
        }
        
        a{
            display: inline-block;
            margin-bottom: toRem(20);
            text-decoration: none;
            color: white;
            font-size: toRem(15);
            color: $grayish-blue;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}