@use 'sass:math';
@import '../utils';
@import "../globals";




.navbar {
  position: relative;
  height: toRem(600);
  padding-top: toRem(62);
  color: $light-red;
  border-bottom-left-radius: toRem(math.div(98, 1)) toRem(math.div(98, 1));
  background-origin: border-box;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: top 20% right 30%;
  background: url("../../public/images/bg-pattern-intro.svg") no-repeat top 57% right 65%, linear-gradient(45deg, $very-light-red, $light-red);
  background-size: 150%;

  @include breakpoints-down(medium){
    padding-top: toRem(50);
  }

  nav {
    position: relative;
    // padding-top: ;
    // padding-bottom: ;
  }

  &__logo {
    img {
    }
  }


  &__logo-links {
  }

  &__toggle {
    // mobile menu toggle
    .span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: white;
      transition: all 300ms ease-in-out;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__menu {
    visibility: hidden;
  }

  &__links {
    
  }

  &__a{
    color: white;
    font-size: toRem(15);
    text-decoration: none;
    padding-right: toRem(33);


    &:hover{
      text-decoration: underline;
    }

  }



  // heroe section
  &__heroe{
    width: 100%;
    height: 10vh;
    color: white;
    padding-top: toRem(100);

    .txt{
      padding-bottom: toRem(35);
      
      h1{
        font-family: $ubuntu;
        font-weight: 700;
        font-size: toRem(46);
        margin-bottom: toRem(30);
      }
      
      p{
        text-align: center;
        font-size: toRem(17);
      }
    }

    .btns{
  
    }

  }
}
